.user-list-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  place-content: center;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: space-between;
  }
}
